header{
    background-color: var(--header-blue);
    color: white;
    text-transform: uppercase;
}


header .row{
    height: 90px;
}

.navbar button {
    border-color: white;
}

.navbar-toggler-icon i{
    padding: 5px;
    color: white;
}

.navbar-nav a{
    color: white;
}