#profilo,
#about{
    background-color: var(--profile-green);
    color: white;
}

.box-img img{
    width: 18.75rem;
}

#profilo h1,
#skills h5,
h2
{
    text-transform: uppercase;
}

#star i{
    font-size: 1.875rem;
}
#little-bar::before{
    content: "\2010";
    padding: 0 .3125rem 0 .3125rem;
}
#little-bar::after{
    content: "\2010";
    padding: 0 .3125rem 0 .3125rem;
}

.star-bar{
    display: inline-block;
    height: .125rem;
    width: 100px;
    vertical-align: middle;
    margin: 20px 10px;
    margin-top: auto;
}

.star-bar-white{
    background-color: white;
}
.star-bar-black{
    background-color: black;
}

#ms-btn{
    color: white;
    border-radius: .625rem;
    padding: .625rem 1.25rem;
}
.ms-btn-trasparent{
    border-color: white;
    background-color: transparent;
}

.ms-btn-green{
    background-color: var(--profile-green);
    border-radius: .625rem;
    padding: .625rem 1.25rem;
    border: none;
}

label{
    display: block;
    color: var(--header-blue);
    font-weight: 600;
}

input,
textarea{
    border: none;
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.3);
}

